/* If greater than Visual Composer 4.8.1 */

body {
  overflow-x: hidden;
}

body .wpb_row {
  margin-bottom: 35px;
  overflow: hidden;
}

.wpb_column > .vc_column-inner > .wpb_wrapper > :last-child {
  margin-bottom: 0px;
}

.container .vc_row {
  margin-left: 0px;
  margin-right: 0px;
}

.cg-section .vc_row {
  margin-left: -15px;
  margin-right: -15px;
}

.entry-content {
	margin-top: -15px;
}